<div class='container'>
  <div class="row">
    <div class="col-xs-2" id='dashboard-logo-container'>
      <img id='logo' src='/public/img/ipcortex-logo.png'>
    </div>
  </div>
  <div class='row' id='call-container'>

    <div class="row" id='dashboard-title-container'>
      <div class="col-xs-4">
        <p id='dashboard-title'>Find My Call</p>
      </div>
      <div class="col-xs-8 call-headings">
        <div class="row">
          <div class="col-xs-3">
            <h4 class='call-heading'>caller</h4>
          </div>
          <div class="col-xs-3">
            <h4 class='call-heading'>callee</h4>
          </div>
          <div class="col-xs-3">
            <h4 class='call-heading'>date</h4>
          </div>
          <div class="col-xs-3">
            <h4 class='call-heading'>duration</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        {{> filters}}
      </div>
      <div class="col-xs-8">
        {{> call}}
        {{#if nextPage}}
          <a href='/dashboard{{nextPage}}'>next page</a><br>
        {{/if}}
        {{#if prevPage}}
          <a href='/dashboard{{prevPage}}'>prev page</a><br>
        {{/if}}
      </div>
    </div>
  </div>
</div>
