<script type="text/javascript" src='../../public/js/dashboard.js'></script>
<div class='container'>
  <div class="row">
    <h1> Find My Call </h1>
  </div>
  <div class='row' id='call-container'>
    <div class="row" id='search-bar'>
      <div class="col-xs-4">
        
      </div>
      <div class="col-xs-8 call-headings">
        <div class="row">
          <div class="col-xs-3">
            <h4 class='call-heading'>caller</h4>
          </div>
          <div class="col-xs-3">
            <h4 class='call-heading'>callee</h4>
          </div>
          <div class="col-xs-3">
            <h4 class='call-heading'>date</h4>
          </div>
          <div class="col-xs-3">
            <h4 class='call-heading'>duration</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        {{> filters}}
      </div>
      <div class="col-xs-8">
        {{> call}}
      </div>
    </div>
  </div>
</div>
