
<div id='error-box' class='hidden'>
  <p id='error-message'></p>
</div>

<div class='container'>
  <div class="row">
    <div class="col-xs-2" id='dashboard-logo-container'>
      <img id='logo' src='/img/ipcortex-logo.png'>
    </div>
    <div class="col-xs-2 col-xs-offset-8">
      <a href='/logout'><button  id='logout-btn' class='btn-primary btn btn-lg'>Log Out</button> </a>
    </div>
  </div>
  <div class='row' id='call-container'>

    <div class="row" id='dashboard-title-container'>
      <div class="col-xs-4">
        <p id='dashboard-title'>Find My Call</p>
      </div>
      <div class="col-xs-8 call-headings">
        <div class="row">
          <div class="col-xs-1">
            <h4 class='call-heading'>from:</h4>
          </div>
          <div class="col-xs-1">
            <h4 class='call-heading'>to:</h4>
          </div>
          <div class="col-xs-2">
            <h4 class='call-heading'>duration:</h4>
          </div>
          <div class="col-xs-3">
            <h4 class='call-heading'>date:</h4>
          </div>
          <div class="col-xs-2">
            <h4 class='call-heading'>tags:</h4>
          </div>
          <div class="col-xs-2">
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle call-heading" data-toggle="dropdown">
                sort by
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="/dashboard{{dateOrder}}">date: {{userObj.dateSortString}}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        {{> filters}}
      </div>
      <div class="col-xs-8">
        <div class='row'>
          {{> call}}
        </div>
        <div class='row'>
          <div class='col-xs-2 col-xs-offset-4'>
            {{#if prevPage}}
              <a class='pages' href='/dashboard{{prevPage}}'>prev page</a><br>
            {{/if}}
          </div>
          <div class='col-xs-2'>
            {{#if nextPage}}
            <a class='pages' href='/dashboard{{nextPage}}'>next page</a><br>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
