.ui-datepicker {
  width: 216px;
  height: auto;
  margin: 5px auto 0;
  font: 9pt Arial, sans-serif;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
}

.ui-datepicker a {
  text-decoration: none;
}

.ui-datepicker table {
  width: 100%;
}

.ui-datepicker-header {
  background: #00416F;
  color: white;
  font-weight: bold;
  line-height: 50px;
}

.ui-datepicker-title {
  text-align: center;
}

.ui-datepicker-prev, .ui-datepicker-next {
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.ui-datepicker-prev {
  margin-left: 5px;
  color: white;
  float: left;
  background-position: center -30px;
}
.ui-datepicker-next {
  margin-right: 5px;
  color: white;
  float: right;
  background-position: center 0px;
}

.ui-datepicker thead {
  background-color: #C2CFD9;
  text-align: center;
}

.ui-datepicker th {
  text-transform: uppercase;
  font-size: 6pt;
  padding: 5px 0;
}

.ui-datepicker td span, .ui-datepicker td a {
  color: black;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.ui-datepicker-other-month {
  background-color: white;
}

.ui-datepicker-calendar {
  background-color: white;
}

.ui-datepicker-calendar .ui-state-default {
  background: #ededed;
}

.ui-datepicker-calendar .ui-state-hover {
  background: #f7f7f7;
}

.ui-datepicker-calendar .ui-state-active {
  background: #6eafbf;
  color: #e0e0e0;
}
