html {
}

#content {
font-family: 'Lato', sans-serif;
}

/*login page*/

#login-button-container {
  margin: auto;
}

#header-title {
  text-align: center;
  padding: 10px;
}
#find-my-call {
  font-size: 50px;
  color: white;
}

#logo-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

/*#logo {
  width: 50%;
}*/

#login_button {
  width: 100%;
}
.login-form {
  padding: 10%;
}
.form-container {
  background-color: #00416F;
  padding: 20px;
  border-radius: 10px;
}
/*dashboard layout*/

#call-container {
  background-color: #00416F;
  padding: 2em;
  border-radius: 10px;
  height: 1000px;
  margin-bottom: 1em;
  overflow-y: scroll;
}

#search-bar {
  padding-bottom: 1em;
}
body {
  font-family: 'Lato', sans-serif;
}

.font {
  font-family: 'Lato', sans-serif;
}

.call-headings {
  color: white;
}
.call-heading {
  margin-top: 40px;
  margin-bottom: 13px;
  margin-left: 1px;
}
#dashboard-logo-container {
  margin: 30px 0;
}

#dashboard-title {
  color: white;
  font-size: 33px;
  margin-left: 15px;
}

.dashboard-title-container {
  text-align: center
}


/************** filter form *************/

input[type="checkbox"] {
  color: white;
}

.scrollbar-tags {
  overflow-y: scroll;
  height: 130px !important;
  background: white;
}

.filter-list {
  /*border: none;
  background-color: #00A6A3;*/

}

.list-group-item {
  /*border: none;
  background-color: #00A6A3;*/
  background-color: #C2CFD9;
}

.btn-primary {
  background-color: #00A6A3;
  border: 1px solid #00A6A3;
}

#filter-calls {
  font-size: 20px;
}
#dropdown {
  background-image: none;
background-color: white;
border: none;
color: black;
padding: 7px;
border-radius: 6px;
width: 100%
}

#dropdown-option {
  background-image: none;
  background-color: white;
  border: none;
  color: black;
  padding: 7px;
  border-radius: 6px;
  width: 100%;
}

option {
  padding: 7px;
}

#saved-filters {
  font-size: 14px;
  margin-top: 6px;
}


/*calls list css*/
.panel-default>.panel-heading {
  background-color: #C2CFD9;
}

.tag-calls-container {
  padding: 1em;
}

audio {
  width: 100%;
}

.tag-card {
  border: 1px solid #FF9531;
  display: inline-block;
  color: white;
  padding: 6px;
  border-radius: 4px;
  margin-right: 1em;
  padding-left: 15px;
  margin-bottom: 1em;
  background-color: #FF9531;
}

.delete-button {
  margin-left: 15px;
  margin-right: 5px;
}
.tag-cards {
  padding-top: 1em;
}
.tag-bar {
  padding-left: 0px;
}
.btn-success:hover {
  background-color: #00A6A3;
  border: 1px solid #027a76;
}
.btn-success {
  background-color: #00A6A3;
  border: 1px solid #00A6A3;
}

#logout-btn {
  float: right;
  margin-top: 30px;
}

.tag_name {
  margin-left: 10px;
}
