html {
}

#content {
font-family: 'Lato', sans-serif;
}

/*login page*/

#login-button-container {
  margin: auto;
}

#header-title {
  text-align: center;
  padding: 10px;
}
#find-my-call {
  font-size: 50px;
  color: white;
}

#logo-container {
  padding-top: 30px;
  padding-left: 125px;
  padding-right: 125px;
  padding-bottom: 30px;
}

/*#logo {
  width: 50%;
}*/

#login_button {
  width: 100%;
}
.login-form {
  padding: 10%;
}
.form-container {
  background-color: #00416F;
  padding: 20px;
  border-radius: 10px;
}
/*dashboard layout*/

#call-container {
  background-color: #00416F;
  padding: 2em;
  border-radius: 10px;
  height: 1000px;
  margin-bottom: 1em;
  overflow-y: scroll;
}

#search-bar {
  padding-bottom: 1em;
}
body {
  font-family: 'Lato', sans-serif;
}

.font {
  font-family: 'Lato', sans-serif;
}

.call-headings {
  color: white;
}
.call-heading {
  margin-top: 40px;
  margin-bottom: 13px;
  margin-left: 1px;
}
#dashboard-logo-container {
  margin: 30px 0;
}

#dashboard-title {
  color: white;
  font-size: 33px;
  margin-left: 15px;
}

.dashboard-title-container {
  text-align: center
}


/************** filter form *************/

input[type="checkbox"] {
  color: white;
}

.scrollbar-tags {
  overflow: scroll;
  height: 130px !important;
  background: white;
}
