<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href='../../public/css/main.css'>
    <title>Find My Call</title>
  </head>
  <body>
    <div id='content'>{{{content}}}</div>
    <script type="text/javascript" src="../../public/js/index.js"></script>
    <script type="text/javascript" src="../../public/js/saveFilterSpec.js"></script>
    <script type="text/javascript" src="../../public/js/clearForm.js"></script>

  </body>
</html>
