<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href='../../public/css/main.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <title>Find My Call</title>
  </head>
  <body>
    <h1>default html</h1>
    <div id='content'>{{{content}}}</div>
    <script type="text/javascript" src="../../public/js/index.js"></script>
  </body>
</html>
