<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href='//fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <link rel="stylesheet" href='/css/main.css'>
    <link rel="stylesheet" href='/css/datePicker.css'>
    <title>Find My Call</title>
  </head>
  <body>
    <div id='content'>{{{content}}}</div>
    <script type="text/javascript" src="/js/error.js"></script>
    <script type="text/javascript" src="/js/classChange.js"></script>
    <script type="text/javascript" src="/js/tags.js"></script>
    <script type="text/javascript" src="/js/saveFilterSpec.js"></script>
    <script type="text/javascript" src="/js/clearForm.js"></script>
    <script type="text/javascript" src='/js/dateFormat.js'> </script>
  </body>
</html>
