<div class="panel-group" id="accordion">
  {{#each calls}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{@index}}">
          <div class='row'>
            <div class="col-xs-3">
              {{ participants.source.number}}
            </div>
            <div class="col-xs-3">
              {{participants.destination.number}}
            </div>
            <div class="col-xs-3">
              {{date}}
            </div>
            <div class="col-xs-3">
              {{duration}}
            </div>
          </div>
        </a>
      </div>
    </div>
    <div id="collapse{{@index}}" class="panel-collapse collapse">
      <div class="panel-body">Listen to your calls : {{ file_id}}</div>
    </div>
  </div>
  {{/each}}
</div>
