<ul class="list-group">
  <li class="list-group-item"><h3>Filter:</h3>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>
  </li>
<form action="/filtered-calls" method="POST">
  <div class="form-group">
    <input id="filter_to" name="to" class="form-control" type="text" placeholder="To:">
    <input type="text" name="from" class="form-control" placeholder="From:">
    <input type="text" name="extOwner" class="form-control" placeholder="Extension Owner:">
    <input type="text" name="duration(min)" class="form-control" placeholder="Duration (min):">
    <input type="text" name="duration(max)" class="form-control" placeholder="Duration (max):">
    <input type="text" name="date" class="form-control" placeholder="Date:">
    <input type="text" name="tags" class="form-control" placeholder="Tags:">
  <button id="filter_search" type="submit" class="btn btn-success">Search</button>
  <button id="filter_save" type="submit" class="btn btn-success">Save</button>
</div>
</form>
</ul>
