<ul class="list-group">
  <li class="list-group-item"><h3>Filter:</h3>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>
  </li>
  <li class="list-group-item">To: <input type="text" name='to' placeholder="to" value=""></li>
  <li class="list-group-item">From: <input type="text" name='from' placeholder="from" value=""></li>
  <li class="list-group-item">Extension Owner:<input type="text" name='username' placeholder="username" value=""> </li>
  <li class="list-group-item">Duration (min): <input type="text" name="duration(min)" placeholder="duration(min)" value=""></li>
  <li class="list-group-item">Duration (max): <input type="text" name="duration(max)" placeholder="duration(max)" value=""></li>
  <li class="list-group-item">Date: <input type="text" name="date" placeholder="date" value=""></li>
  <li class="list-group-item">Tags: <input type="text" name="tags" placeholder="tags" value=""></li>
  <li class="list-group-item"><button>Search</button><button>Save</button></li>
</ul>
