<ul class="list-group">
  <li class="list-group-item"><h3>Filter:</h3>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>
  </li>
  <li class="list-group-item">to: <input type="text" name='to' placeholder="to" value=""></li>
  <li class="list-group-item">from: <input type="text" name='from' placeholder="from" value=""></li>
  <li class="list-group-item">username:<input type="text" name='username' placeholder="username" value=""> </li>
  <li class="list-group-item">duration(min): <input type="text" name="duration(min)" placeholder="duration(min)" value=""></li>
  <li class="list-group-item">duration(max): <input type="text" name="duration(max)" placeholder="duration(max)" value=""></li>
  <li class="list-group-item">date: <input type="text" name="date" placeholder="date" value=""></li>
  <li class="list-group-item">tags: <input type="text" name="tags" placeholder="tags" value=""></li>
  <li class="list-group-item"> <button>filter</button><button> save </button> </li>
</ul>
